.portfolio-item-container {
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.portfolio-item-container a {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.overlay-text {
  position: absolute;
  margin: 25px;
  padding: 10px;
  background: black;
}

@media (min-width: 768px) {
  .portfolio-item-container {
    height: 200px;
  }
}

img {
  height: 100%;
  width: auto;
}
